[submodule "arduino-netboot-hera"]
	path = arduino-netboot
	url = https://github.com/esmil/arduino-netboot.git
[submodule "arduino-netboot"]
	path = arduino-netboot
	url = https://github.com/reeveress/arduino-netboot.git
